<div class="jumbotron">
  <h1>OLSSEN</h1>
  <p class="lead">
<!--    <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
    An On-line Spectral Search ENgine
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/stats">Library Stats <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Scalable</h4>
  <p>
  OLSSEN's search engine is built on top of <a href="http://spark.apache.org/">Apache Spark</a> for scalability.  
  </p>

  <h4>RESTful</h4>
  <p>
  It provides a RESTful API implemented with Python and <a href="http://flask.pocoo.org/">Flask</a>.
  </p>

  <h4>Client</h4>
  <p>
     This web application has been built on top of the API using <a href="https://angularjs.org/">AngularJS</a>
     and the <a href="https://github.com/yeoman/generator-angular">Yeoman generator</a>
  </p>

  <h4>Open source</h4>
  <p>View on <a href="http://olssen.github.io/">GitHub<a><p>

</div>
